/* {Google Font Montserrate | 300,400,500,600,700} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* {Google Font Raleway | 300,400,500,600,700} */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

/* {Google Font Courier | 400,700} */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-006666: #006666;
  --secondary-color-9dbcbc: #9dbcbc;
  --tertiary-color-fff5bb: #fff5bb;
  --text-color-6b6b6b: #6b6b6b;
  --text-color-b7b7b7: #b7b7b7;
}
body {
  background-color: #fff;
  /* font-family: "Montserrat", sans-serif !important; */
  /* font-family: 'Raleway', sans-serif !important; */
  font-family: "Courier Prime", monospace !important;
  /* word-spacing: -13px; */
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  list-style: none;
}
.cx-btn-1 {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid var(--primary-color-006666);
  color: var(--primary-color-006666);
  padding: 10px 30px;
  font-weight: 500;
  word-spacing: 3px;
  transition: all 0.3s ease-in-out;
}

.cx-btn-1:hover,
.cx-btn-1:focus {
  background-color: var(--primary-color-006666);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cx-btn-2 {
}

.cx-btn-3 {
}

.cx-btn-4 {
}

/* Header Styling Start */

.header {
  background-color: transparent;
  position: relative;
}

.header .nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header .nav_wrapper .logo_wrapper {
  width: 120px;
}

.header .nav_wrapper .logo_wrapper a {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color-006666);
}
.header .nav_wrapper .logo_wrapper a img {
  width: 100%;
}

.main-sidebarmenu .main-sidebarmenu-wrapper {
  display: block;
  position: relative;
}

.header .nav_wrapper .menu_wrapper ul {
  padding: 0;
  margin: 0;
}

.header .nav_wrapper .menu_wrapper ul li {
  display: inline-block;
  /* padding: 10px 30px 10px 0; */
}
.header .nav_wrapper .menu_wrapper ul li:last-child {
  padding-right: 0;
}

.header .nav_wrapper .menu_wrapper ul li a {
  color: var(--primary-color-006666);
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.contact_cta_btn a {
  border: 1px solid var(--primary-color-006666) !important;
}
.contact_cta_btn a:hover {
  border: 1px solid var(--primary-color-006666) !important;
  border-radius: 20px;
  padding: 5px 15px;
  color: #fff !important;
  background-color: var(--primary-color-006666);
  transform: scale3d(1.3, 1.3, 1.3) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu_btn {
  width: 35px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
  display: none;
}

.menu_btn:hover span {
  transform: translateX(8px);
}

.menu_btn span {
  display: inline-block;
  height: 2px !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: var(--primary-color-006666);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.menu_btn span:nth-child(1) {
  width: 35px;
}

.menu_btn span:nth-child(2) {
  width: 25px;
}

.menu_btn span:nth-child(3) {
  width: 30px;
}

/* .header .res_menu {
  padding: 65px 10px 40px;
  background-color: #fff;
  box-shadow: -9px 12px 19px 0 #00000036;
  z-index: 10;
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  overflow: auto; 
  -webkit-user-select: none;
  user-select: none; 
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header .res_menu-active {
  opacity: 1;
  top: 0;
  right: 0; 
} */


/* Keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Keyframes for the slide-out animation */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.header .res_menu {
  padding: 65px 20px 40px;
  background-color: #fff;
  box-shadow: -9px 12px 19px 0 #00000036;
  z-index: 10;
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  overflow: auto;
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.header .res_menu-active {
  transform: translateX(0); /* Slide in */
  animation: slideIn 0.5s forwards;
}

.header .res_menu-closing {
  animation: slideOut 0.5s forwards;
}


.header .res_menu ul {
  padding: 0;
  margin: 0;
}

.header .res_menu ul li {
  padding: 0 0 10px;
}

.header .res_menu ul li a {
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--primary-color-006666);
}
.header .res_menu ul li .contact_cta_btn {
  padding: 5px;
  border-radius: 10px;
}

.header .res_menu ul li:last-child {
  /* padding: 0; */
  margin-top: 10px;
}

.header .res_menu {
}

.header .res_menu .close_btn {
  position: relative;
  top: -25px;
  right: 0px;
  cursor: pointer;
}

.header .res_menu .close_btn::after,
.header .res_menu .close_btn::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--primary-color-006666);
  transform: rotate(0);
  transition: transform 0.3s ease-in;
}

.header .res_menu .close_btn::after {
  transform: rotate(45deg);
}

.header .res_menu .close_btn::before {
  transform: rotate(-45deg);
}

/* Header Styling End */

/* Landing Page Styling Start */
.hero_page {
  /* height: calc(100vh - 45px); */
}
.hero_page .hero_text_wrapper {
  text-align: center;
  padding: 60px 0 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* color: var(--secondary-color-9dbcbc); */
}
.hero_page .hero_text_wrapper .top_text {
  color: var(--primary-color-006666);
  margin-bottom: 30px;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
}
.hero_page .hero_text_wrapper .main_text {
  color: var(--primary-color-006666);
  margin-bottom: 30px;
  animation-delay: 0.5s;
  animation-duration: 1s;
  font-size: 60px;
  font-weight: 700;
}
.hero_page .hero_text_wrapper .main_text span {
  color: var(--text-color-b7b7b7);
  animation-delay: 0.5s;
  animation-duration: 1.2s;
}
.hero_page .hero_text_wrapper .desc {
  font-size: 16px;
  margin-bottom: 30px;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}
.hero_page .hero_text_wrapper .desc a {
  color: #ffcc1c;
}
.hero_page .hero_text_wrapper .cx-btn-1 {
  /* margin-top: 20px; */
  animation: fadeInLeft;
  animation-delay: 2s;
}

/* Projects Slider Styling */

.hero_page .hero_projects_slider {
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}
.hero_page .hero_projects_slider .splide {
  margin: 90px 0 20px;
}
/* .splide__pagination{
  display: none !important;
} */
.hero_page .hero_projects_slider .splide__slide {
  background-color: transparent;
}
.splide__arrow {
  background: var(--primary-color-006666) !important;
}
.splide__arrow svg {
  fill: var(--tertiary-color-fff5bb) !important;
}
.hero_page .hero_projects_slider .splide__slide .project_item {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 350px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-transform: perspective(300px) translate3d(0, 0, 0);
  transform: perspective(300px) translate3d(0, 0, 0);
}
.hero_page .hero_projects_slider .splide__slide .project_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_page .hero_projects_slider .splide__slide .project_item .project_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color:  #ffffff2b; */
  /* background:linear-gradient(to top,  #000000d6 0%, #ffffff00 30%) ; */
  background: linear-gradient(180deg, transparent 20%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 2;
}
.hero_page
  .hero_projects_slider
  .splide__slide
  .project_item
  .project_text_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  /* color: var(--primary-color-006666); */
  z-index: 4;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 0 20px 20px;
}
.hero_page
  .hero_projects_slider
  .splide__slide
  .project_item
  .project_text_wrapper
  .project_name {
  margin-bottom: 5px;
}
.hero_page
  .hero_projects_slider
  .splide__slide
  .project_item
  .project_text_wrapper
  .project_tech {
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
}
.hero_page
  .hero_projects_slider
  .splide__slide
  .project_item
  .project_text_wrapper
  .project_tech
  span {
  border-radius: 5px;
  /* border: 1px solid var(--tertiary-color-fff5bb); */
  margin: 5px 5px 0px 0;
  padding: 2px 5px;
  letter-spacing: 1px;
  background-color: #00666693;
  /* background-color: #006666; */
}
/* Landing Page Styling End */

/* Contact Page Styling Start */

.contact_text_wrapper {
  padding: 50px 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.contact_text_wrapper .title {
  color: #006666;
}
.contact_text_wrapper .social_title {
  font-size: 20px;
  color: #006666;
  margin-bottom: 20px;
}
.contact_text_wrapper .cont_details {
  padding: 50px 0;
}
.contact_text_wrapper .cont_details p {
  margin-bottom: 25px;
}
.contact_text_wrapper .cont_details p:last-child {
  margin-bottom: 0;
}
.contact_text_wrapper .cont_details p span {
  border-radius: 5px;
  background-color: #006666;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px;
}
.contact_text_wrapper .cont_details p span img {
  width: 22px;
}
.contact_text_wrapper .social_wrapper {
}
.contact_text_wrapper .social_wrapper span {
  border-radius: 50%;
  background-color: #006666;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 7px;
  margin-right: 10px;
}
.contact_text_wrapper .social_wrapper span:hover {
  transform: rotate(90deg);
}
.contact_text_wrapper .social_wrapper span img {
  width: 25px;
}

.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form_wrapper form {
  width: 100%;
}
.form_wrapper form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #006666;
}
.form_wrapper form .form-control::placeholder {
  transition: all 0.3s ease;
  opacity: 0.3;
  color: #006666;
}
.form_wrapper form .form-control:focus {
  box-shadow: none;
}
.form-control:invalid:focus,
.form-control:valid:focus {
  box-shadow: none !important;
}
.form_wrapper form .form-control:focus::placeholder {
  opacity: 0.1;
}
.form_wrapper form label {
  color: #006666;
}

.form_wrapper .form_title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #006666;
}

@media screen and (max-width: 991px) {
  .form_wrapper {
    /* height: 100vh; */
  }
}
@media screen and (max-width: 768px) {
  .form_wrapper {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 580px) {
  .form_wrapper {
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 420px) {
  .form_wrapper {
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .form_wrapper {
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}
/* Contact Page Styling End */

.box {
  height: 100px;
  width: 200px;
  background-color: blue;
}
.box2 {
  height: 1500px;
  width: 100%;
  background-color: gray;
}

.custom_box {
  width: 100%;
  height: 100vh;
  background-color: blue;
  margin-bottom: 20px;
}

/* Thank You Page Styling Start */

.thank_you_page .thankYouPage {
  width: 100%;
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thank_you_page .thankYouPage .title {
  text-align: center;
  color: var(--primary-color-006666);
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
}
.thank_you_page .thankYouPage p {
  color: var(--text-color-b7b7b7);
  margin-bottom: 30px;
  text-align: center;
}
.thank_you_page .thankYouPage .contact_cta_btn a {
  color: var(--primary-color-006666);
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  border: 1px solid var(--primary-color-006666) !important;
}
.thank_you_page .thankYouPage .contact_cta_btn a:hover {
  border: 1px solid var(--primary-color-006666) !important;
  border-radius: 20px;
  padding: 5px 15px;
  color: #fff !important;
  background-color: var(--primary-color-006666);
  transform: scale3d(1.3, 1.3, 1.3) !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.thank_you_page .thankYouPage {
}

/* Thank You Page Styling End */
