@media screen and (max-width: 768px) {
  .menu_btn {
    display: flex !important;
  }
  .header .nav_wrapper .menu_wrapper {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .hero_page .hero_text_wrapper {
    padding: 100px 10px !important;
  }
  .hero_page .hero_text_wrapper .main_text {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }
  .hero_page .hero_text_wrapper .desc {
    margin-bottom: 40px !important;
  }
  
}
@media screen and (max-width: 480px) {
  .hero_page .hero_text_wrapper {
    padding: 100px 10px !important;
  }
  .hero_page .hero_text_wrapper .main_text {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }
  .hero_page .hero_text_wrapper .desc {
    margin-bottom: 40px !important;
  }
  .hero_page .hero_text_wrapper .cx-btn-1{
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .hero_page .hero_text_wrapper {
    padding: 100px 10px !important;
  }
  .hero_page .hero_text_wrapper .main_text {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }
  .hero_page .hero_text_wrapper .desc {
    margin-bottom: 40px !important;
  }
}
@media screen and (max-width: 360px) {
  .hero_page .hero_text_wrapper {
    padding: 100px 10px !important;
  }
  .hero_page .hero_text_wrapper .main_text {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }
  .hero_page .hero_text_wrapper .desc {
    margin-bottom: 40px !important;
  }
}
